*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;

}
body {
    font-family: Arial, sans-serif;
}

.hamburger-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

a{
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 45px;
}

header > nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
}

#about{
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 20px;
    color: white;
    background-color: #000;
}
.profile-pic{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: solid;
    border-width: 4px;
    margin-top: 80px;
    object-fit: cover;
}
.about-me{
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-profession{
    line-height: 25px;
}

#skill{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: white;
    background-color: #000;
}
.about-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    height: 450px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.name-bar{
    display: flex;
    column-gap: 30px;
    width:550px ;
    height:300px ;
    margin-left: 10px;
    margin-right: 10px;
}
.skill-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}
.completion-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.html,.css,.javascript,.python{
    background-color: white;
    height: 15px;
    width: 400px;
    border-radius: 14px;
}
.percentage{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.html >.percentage{
    height: 100%;
    width: 70%;
    background-image: linear-gradient(to right,rgb(173, 230, 143),rgb(205, 226, 180));}
.css >.percentage{
    height: 100%;
    width: 60%;
    background-image: linear-gradient(to right,rgb(173, 230, 143),rgb(205, 226, 180));}
.javascript >.percentage{
    height: 100%;
    width: 80%;
    background-image: linear-gradient(to right,rgb(173, 230, 143),rgb(205, 226, 180));}
.python >.percentage{
    height: 100%;
    width: 70%;
    background-image: linear-gradient(to right,rgb(173, 230, 143),rgb(205, 226, 180));}


@media (max-width:800px){
    header > nav{
        width: 400px;
        padding-right: 30px;
    }
}
@media (max-width:600px){
    header > nav{
        display: none;
    }
    .hamburger-icon{
        display: inline-block;
    }
    .html,.css,.javascript,.python{
        width: 300px;
    }
    .name-bar{
        margin-left: 140px;
        column-gap: 0;
    }
}
@media (min-width:600px){
    .dropdown-menu{
        display: none;
    }
}
@media (max-width:900px){
    #about{
        display: block;
    }
}
